@media (max-width: 992px) {
    .container {
        width: 720px;
    }
    .header {
        &__logo {
            img {
                width: 100px;
            }
        }
        &__right-part {
            width: 160px;
            &_region {
                font-size: 10px;
            }
        }
        &__menu {
            &_item {
                margin-right: 20px;
                a {
                    font-size: 13px;
                }
            }
        }
    }
    .divider {
        &__part {
            span {
                width: 235px;
            }
        }
    }

    .popular-lots {
        &__slider {
            max-width: 600px;
        }
    }
    .all-lots {
        position: relative;
        &__wrapper-header {
            &:after {
                display: none;
            }
            &:before {
                left: 50%;
                transform: translateX(-50%) rotate(45deg);
            }
        }
        &__wrapper {
            position: relative;
            width: 595px;
            margin: 5px auto 0 auto;
            display: grid;
            grid-template-columns: 250px 25px 250px;
            column-gap: 35px;
            grid-template-rows: repeat(3, 285px);
            grid-auto-rows: 285px;
            row-gap: 10px;
        }
        &__item {
            &:last-child {
                background-color: red;
            }
        }
        &__decor {
            display: none;
            &:nth-child(4n + 2) {
                display: block;
            }
        }
    }
}

//? 768
@media (max-width: 768px) {
    .container {
        width: 540px;
    }

    .header {
        &__hamburger {
            display: flex;
        }
        &__logo {
            img {
                width: 150px;
            }
        }
        &__menu {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 75px;
            left: 0;
            height: 100vh;
            width: 200px;
            background-color: #1c242a;
            padding-top: 30px;
            transition: all 0.5s;
            &_items {
                list-style-type: none;
                flex-direction: column;
                align-items: center;
            }
            &_item {
                margin: 0;
                margin-bottom: 20px;
                a {
                    font-size: 20px;
                }
            }
        }
        &__right-part {
            width: 70px;
            justify-content: flex-end;
            &_region {
                display: none;
            }
        }
        &__submenu {
            height: 250px;
            padding-top: 30px;

            &_item {
                margin-bottom: 30px;
                a {
                    font-size: 18px;
                }
            }
        }
    }
    .divider {
        &__part {
            span {
                width: 145px;
            }
        }
    }
    .popular-lots {
        &__lot {
            margin: 0 25px;
        }
    }
    .all-lots {
        &__wrapper {
            width: 100%;
            column-gap: 9px;
        }
    }
}

//? 576
@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        font-size: 20px;
    }
    .subtitle {
        font-size: 30px;
    }
    .promo {
        padding: 30px 0 50px 0;
        max-height: 500px;

        &__descr {
            width: 100%;
            margin-top: 10px;
            line-height: 20px;
        }
    }
    .popular-lots {
        &__divider {
            justify-content: center;
        }
        &__slider {
            max-width: 300px;
        }
        &__lot {
            &:first-child {
                margin-left: 25px;
            }
        }
    }
    .divider {
        &__part {
            span {
                width: 25px;
            }
        }
    }
    .all-lots {
        &__dec {
            img {
                height: 50px;
                width: 80px;
            }
        }
        &__title {
            width: 90px;
            height: 90px;
            font-size: 19px;
        }
    }
    .all-lots {
        &__wrapper-header {
            width: 100%;
            margin-top: 10px;
        }
        &__wrapper {
            width: 100%;
            grid-template-columns: 1fr;
        }
        &__item {
            display: flex;
            justify-content: center;
        }
        &__decor {
            display: none;
            &:nth-child(4n + 2) {
                display: none;
            }
        }
        &__descr {
            margin-top: 10px;
            img {
                display: none;
            }
        }
        &__text {
            margin-bottom: 20px;
        }
    }
}
